.navbar {
  padding 1rem;
  background-color: blue;
}

footer{
  padding: 3rem;
  background-color: darkblue;
}

.btn-primary:hover {
  background-color: blue;
  color: white;
}

.btn-primary {
  background: white;
  color: blue;
}

.btn{
  border-radius: 50px;
}

.hero-background-img {
  background-image: url("build.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
