.navbar {
  padding 1rem;
  background-color: black;
}

footer{
  padding: 3rem;
  background-color: black;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.btn-primary {
  background: white;
  color: black;
}

.btn{
  border-radius: 50px;
}


.hero-background-img {
  background-image: url("build.jpg");
  height: auto
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top:200px;
  padding-bottom:200px;
}

.form-control {
  border: solid 2px black;
}
